
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  /* height: 100vh; */
}

.Head {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}

.Title {
  font-size: 5rem;
  width: 100vw;
  text-align: center;
  color: #FC8621;
  position: absolute;
  top: 3rem;
  left: 0;
}

.Title2 {
  color: #682C0E;
}

.mantine-Button-root {
  background-color: #682C0E;
  position: absolute;
  top: 85vh;
  font-size: 2.5rem;
  font-family: 'Patrick Hand', cursive;
  color: white;
}

.mantine-Button-root:hover {
  background-color: #C24914;
  color: white;
  border-color: transparent;
}
